body{
	margin: 0%;
}
.un{
	height: 100vh;
	background: cornflowerblue;
}
.deux{
	height: 100vh;
	background: darksalmon;
}
.trois{
	height: 100vh;
	background: honeydew;
}
input{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}