body{
	margin: 0%;
}
.un{
	height: 100vh;
	background: cornflowerblue;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.deux{
	height: 100vh;
	background: darksalmon;
	display: flex;
	align-items: center;
	justify-content: center;
}
.trois{
	height: 100vh;
	background: honeydew;
}
*{
	transition: 0.4s;
}